@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/* =======Difold style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.primary-discriv{
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #1a7972;

}
/* ========button style============== */
.btn-praimary{
    background-color: #E5745D;
    Width: 198px;
    Height: 64px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.border{
    position: absolute;
    padding: 27px 92px;
}
/* =====navbar style====== */
.navbar-nav{
    column-gap: 50px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}
.navbar-nav a{
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 18px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: #00413D;
    transition: .4s;
}
.navbar-nav a:hover{
    color: #E5745D;
}
/*====== bannnar section style started heare====== */
.bannar{
    background:#00413D;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 220px 0px;
}
.bannar h1{

    color: #fff;
    font-family: Vollkorn;
    font-size: 100px;
    font-weight: 700;
    line-height: 110px;
    text-align: left;
}
.bannar p{
    font-family: Jost;
    color: #29726d;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 670px;
    padding-bottom: 50px;
}
#UI{
    font-weight: 500px;
    color: #fff;
}
.overly{
    width: 60%;
    height: 80vh;
    background-image: url('../images/bannar-pick.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -80%;
    top: 0px;
    transition: .5s;
    z-index: -1;
    
}
.bannar:hover .overly{
    right: 0;
}
/* ===========Provide section start========  */

.Problems{
    margin-top: 120px;
}
.Provide .title h5{
    font-family: Vollkorn;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.07px;
    letter-spacing: 0.02em;
    color: #E5745D;
    margin-top: 200px;
}
.arows{
    width: 45px;
    height: 2px;
    position: relative;
    top: 220px;
    left: -90px;
    background-color: #E5745D;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: #E5745D;
    position: relative;
    border-radius: 50%;
    top: 214px;
    left: -67px;
}
.Provide .title h1{
    font-family: Vollkorn;
    width: 470px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: #00413D;
    margin-bottom: 40px;
}
.card{
    padding: 20PX;
    box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.75);
}
#imges{
    width: 68px;
    height: 68px;
}
.card-body{
    padding: 0 !important;
    border-radius: none !important;
}
#icone-1{
    font-size: 20px;
    transition: .4s;
}
#icone-1:hover{
    color: #E5745D;
    margin-left: 10px;
    cursor: pointer;
}
/* I Enjoy Solving Problems section start */
.images{
    width: 570px;
}
.contant{
    column-gap: 30px;
}
.About .ar{
    width: 40px;
    background-color: #E5745D;
    height: 2px;
    position: relative;
    top: 20px;
    left: 0px;
}
.About .do{
    width: 10px;
    background-color: #E5745D;
    height: 10px;
    border-radius: 50%;
    position: relative;
    top: 14px;
    left: 34px;
}
.About{
   width: 570px;
   padding: 25px 0px;
}
.About h5{
    color: #E5745D; 
    font-family: Vollkorn;
    font-size: 18px;
    font-weight: 500;
    padding-left: 50px;

}
.About h1{
    font-family: Vollkorn;
    font-size: 50px;
    font-weight: 500;
    line-height: 56px;
    color: #00413D;
    text-align: left;
    width: 570px;
}
.About p{
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #00413D;
}
.mt{
    margin-top: 80px;
}
